flake8 == 4.0.0
flake8-fixme == 1.1.1
flake8-print == 5.0.0
mypy == 0.971
pytest == 7.1.3
pytest-bandit == 0.6.1
pytest-cov == 4.0.0
pytest-flake8 == 1.1.1
pytest-forked == 1.4.0
pytest-freeze-reqs == 0.2.0
pytest-icdiff == 0.6
pytest-mypy == 0.9.1
pytest-random-order == 1.0.4
pytest-socket == 0.5.1
pytest-sugar == 0.9.5
pytest-tldr == 0.2.4
python-debian==0.1.44
reuse == 1.0.0
twine == 4.0.1
wemake-python-styleguide == 0.17.0